
.home {

  font-family: "Space Mono", monospace, sans-serif;
  font-variant-ligatures: no-common-ligatures;
  color: #282B2E;

  a {
    color: #EB613D;
    text-decoration: none;
    font-weight: bold;
    &:hover{
      color: #EB613D;
      text-decoration: underline;
    }
  }

  section {
    flex: 1;
    -ms-flex: 1;
    -webkit-flex: 1;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    position: relative;
    svg {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
    }
    .content {
      background: #FFFFFF;
      box-shadow: 8px 8px rgba(0, 0, 0, 0.15);
      z-index: 10;
      .title {
        font-size: 50px;
        font-weight: bold;
      }
      .subtext {
        font-size: 20px;
        margin-bottom: 0;
      }
      .row {
        padding-top: 15px;
        font-size: 15px;
      }
      h3 {
        font-weight: bold;
      }
    }
    &.bio {
      .content {
        .part {
          padding-top: 0;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .hero {
      font-size: 20px;
    }
    section {
      padding: 40px 10px;
      .content {
        padding: 20px 20px;
        .title {
          font-size: 35px;
        }
        .subtext {
          font-size: 15px;
        }
        .part {
          padding-top: 20px;
        }
      }
    }
  }
  @media screen and (min-width: 601px) and (max-width: 1200px) {
    .hero {
      font-size: 25px;
      p {
        margin-bottom: 30px;
      }
    }
    section {
      padding: 20px 80px;
      min-height: 100vh;
      .content {
        padding: 40px 40px 25px;
        .part {
          padding-top: 30px;
        }
      }
    }
  }
  @media screen and (min-width: 1201px) {
    .hero {
      font-size: 28px;
      p {
        margin-bottom: 40px;
      }
    }
    section {
      padding: 40px 120px;
      min-height: 100vh;
      .content {
        padding: 80px 80px 50px;
        .part {
          padding-top: 40px;
        }
      }
    }
  }

  .hero { background: #EB613D; }
  .blue { background: #A3D2DF; }
  .green { background: #C6F0D5; }
  .yellow { background: #FFEEB2; }
  .purple { background: #E8C8ED; }
  .pink { background: #F9D8C4; }
  .dark { background: #404448; }

}
